 *,
 :before,
 :after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 html {
   scroll-behavior: smooth;
   overflow-x: hidden;
 }

 body {
   background-color: #fcf4f2;
   width: 100%;
   max-width: 2000px;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
 }

 @keyframes tone {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }

 @keyframes appear {
   from {
     opacity: 0;
     scale: 0.5;
   }

   to {
     opacity: 1;
     scale: 1;
   }
 }

 main {
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   display: flex;
   animation: tone 0.4s ease-in;
 }

 h1 {
   color: #67254e;
   font-family: Playfair Display, serif;
   font-size: 64px;
   font-weight: 1000;
 }

 h2,
 .newsHeading {
   color: #8b3f6e;
   margin: 4rem 0 4rem;
   font-family: Playfair Display, serif;
   font-size: 42px;
   font-weight: 1000;
   display: inline-block;
   position: relative;
   text-transform: uppercase;
 }


 h3 {
   color: #333;
   font-family: Playfair Display, serif;
   font-size: 32px;
   font-weight: 800;
 }

 h4 {
   color: #333;
   font-family: Playfair Display, serif;
   font-size: 24px;
   font-weight: 800;
   margin-bottom: 1rem;
 }


 p,
 strong {
   color: #073030;
   letter-spacing: .4px;
   font-family: Nunito, sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.5;
   margin-bottom: 1rem;
 }

 strong {
   font-weight: 600;
 }

 text {
   font-family: Nunito, sans-serif;
   font-weight: 800;
 }


 .pSmall {
   color: #828282;
   font-size: 1.1em;
 }

 .button,
 button {
   letter-spacing: 1.4px;
   cursor: pointer;
   border: none;
   border-radius: 50px;
   width: fit-content;
   min-width: 5rem;
   padding: .9rem 1.6rem;
   font-family: roboto, sans-serif;
   font-size: 1rem;
   font-weight: 500;
   text-transform: uppercase;
   color: #fff;
   background-color: #0a3e3e;
   text-decoration: none;
   margin-top: 1rem;

 }


 .button:hover,
 button:hover {
   background-color: #116666;
   border: none;
   transition: all .5s;
   text-decoration: none;
 }

 .btn-shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .btn-shadow:hover {
  transform: translateX(5px);
  /* Lyfter upp kortet lite */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }


 .btn-scale:hover {
   transform: scale(1.15);
 }

 #ctahead {
   color: #fff;
   text-decoration: none;
   padding: .9rem 1.4rem;
   margin-left: 0rem;
   font-size: 0.9rem;
 }


 .smallNav #ctahead {
   padding: .9rem 1.2rem;
 }

 i {
   margin-top: 5px;
   margin-left: 20px;
 }

 .excerpt {
   color: #828282;
   font-weight: 700;
   text-decoration: none;
 }

 .excerpt:hover {
   color: #333;
 }

 .yellowLink {
   text-decoration: none;
 }

 .introText p:first-child {
   color: #0a3e3e;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 800;
 }

 .single-post {
  padding: 0px;
 }

.newsPost .pSmall {
  color: #0a3e3e;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
 }

.newsPost p,
.single-post li strong,
.single-post ul li {
  font-size: 1.1rem;
  color: #073030;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.single-post ul li {
  margin-top: 1rem;
}

.single-post ul {
  padding-left: 4rem;
}

.single-post h4 {
  max-width: 750px;
  width: 100%;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .single-post ul {
    padding-left: 1rem;
  }
}

 @media screen and (width <=1780px) {
   h1 {
     font-size: 48px;
   }

   h2,
   .newsHeading {
     margin-top: 8rem;
     margin-bottom: 2rem;
     font-size: 36px;
   }

   h2:after,
   .newsHeading:after {
     width: 50px;
     height: 2.5px;
     left: 20px;
   }

   h3 {
     font-size: 24px;
   }

   h4,
   p,
   strong {
     font-size: 18px;
   }

   .introText p:first-child {
     font-size: 1rem;
   }

 }

 @media screen and (max-width: 495px) {
   h1 {
     font-size: 38px;
   }

   h2,
   .newsHeading {
     margin-top: 8rem;
     margin-bottom: 2rem;
     font-size: 28px;
   }

   h2:after,
   .newsHeading:after {
     width: 50px;
     height: 2.5px;
     left: 20px;
   }


   h4 {
     font-size: 18px;
   }

   p,
   strong {
     font-size: 16px;
   }

   .button {
     font-size: 12px;
     font-weight: 500;
   }

   .button i {
     display: none;
   }

 }

 .logo img {
   position: relative;
   max-width: 200px;
   z-index: 999;
 }

 .menu {
   justify-content: space-between;
   width: 91.5%;
   max-width: 100%;
   height: 100px;
   margin: 0 auto;
   padding: 1em 0;
   display: flex;
 }

 nav {
   position: relative;
 }

 .largeNav ul {
   margin-right: 20px;
   list-style-type: none;
   display: flex;
 }

 .largeNav li {
   z-index: 200;
   position: relative;
   margin: 0 0.5rem;
 }

 .largeNav a {
   color: #1d1d1d;
   padding: 0.5rem 1rem;
   font-family: Nunito, sans-serif;
   font-size: 1.1em;
   font-weight: 500;
   text-decoration: none;
   transition: all .4s;
   white-space: nowrap;
   text-transform: uppercase;
   letter-spacing: 1.2px;
 }

 .largeNav a:hover {
   text-decoration: underline;
 }

 /* Sub-menyns grundinställningar */
 .largeNav .sub-menu {
   display: flex;
   flex-direction: column;
   background-color: #ebd8d1cb;
   padding: 0.5rem 0;
   animation: submenuAnimation 0.4s ease-out forwards;
   transform-origin: top;
   /* Animation växer från toppen */
   z-index: 99999;
 }

 @keyframes submenuAnimation {
   from {
     opacity: 0;
     transform: scaleY(0) translateY(-20px);
   }

   to {
     opacity: 1;
     transform: scaleY(1) translateY(0);
   }
 }

 .largeNav .sub-menu li {
   margin: 1rem 1rem;
 }

 /* Föräldraelementet som håller sub-menyn */
 .largeNav .menu-item-has-children {
   position: relative;
 }

 /* Sub-menyn döljs från början */
 .largeNav .menu-item-has-children>.sub-menu {
   display: none;
   position: absolute;
   top: 50%;
   /* Placera sub-menyn direkt under föräldern */
   left: 0;
   width: fit-content;
   z-index: 999;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.3s ease, visibility 0.3s ease;
 }

 /* Gör sub-menyn synlig vid hover på föräldern */
 .largeNav .menu-item-has-children:hover>.sub-menu,
 .largeNav .menu-item-has-children:focus-within>.sub-menu {
   display: block;
   visibility: visible;
   opacity: 1;
 }


 /* Sub-menyn vid hover på länk */
 .largeNav .menu-item-has-children a:hover {
   text-decoration: underline;
 }


 .smallNav {
   display: none;
 }

 .smallNav a.nav__toggle {
   z-index: 9998;
   cursor: pointer;
   background: none;
   border: 0;
   border-radius: 50%;
   outline: 0;
   padding: 0;
   transition: background-color .15s linear;
   display: inline-block;
   position: absolute;
   top: 0;
   right: -10px;
 }

 .smallNav .menu-top-menu-container {
   opacity: 0;
   /*Sätt till 0 när allt funkar*/
   background-color: #ebd8d1e8;
   width: 260px;
   height: 100vh;
   transition: all .3s ease-in-out;
   position: relative;
   top: 0px;
   right: -300px;
   /*Sätt till -300 när allt funkar*/
   overflow: hidden;
   box-shadow: 0 4px 10px #00000040, inset 0 3px 8px #ffffff1a;
   position: fixed;
   display: flex;
   flex-direction: column;
   padding-top: 100px;
 }


 .smallNav .menu-top-menu-container ul {
   display: flex;
   flex-direction: column;
   height: fit-content;
   list-style-type: none;
 }

 .smallNav .menu-top-menu-container ul li {
   opacity: 1;
   /*Sätt till 0 när allt funkar*/
   transition: all .2s cubic-bezier(0, .995, .99, 1) .2s;
   margin: 0rem 0;
   position: relative;
   z-index: 9999
 }

 .smallNav .menu-top-menu-container #menu-top-menu-1 .menu-item-15 {
   margin-top: 100px;
 }


 .smallNav .menu-top-menu-container ul li a {
   color: #333;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 1rem;
   font-family: Nunito, sans-serif;
   font-size: 1.1rem;
   font-weight: 500;
   text-decoration: none;
   display: block;
 }

 .smallNav .menu-top-menu-container ul li a:hover {
   background-color: #fcf4f2e9;
   font-weight: 700;
 }

 .smallNav .menu-top-menu-container ul li a.active {
   background-color: #fcf4f2e9;
   font-weight: 700;
 }

 .smallNav .button {
   width: 100%;
   justify-self: center;
   margin-top: 40px;
   font-size: 0.5rem;
 }


 .smallNav .sub-menu li {
   margin: 1rem 1rem;
 }

 .smallNav .menu-item-has-children {
   position: relative;
   /* Gör så att sub-menyn kan positioneras absolut */
 }

 .smallNav .menu-item-has-children>.sub-menu {
   display: none;
   /* Döljer barnen från början */
   position: relative;
   /* Placera sub-menyn absolut i relation till sin förälder */
   left: 0;
   width: 100%;
   /* Gör så att sub-menyn får samma bredd som föräldern */
   z-index: 10;
   /* Se till att sub-menyn ligger ovanpå andra element */
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, visibility 0.3s ease;
   /* För smidig övergång */
 }

 .smallNav .menu-item-has-children.active>.sub-menu {
   display: block;
   /* Gör sub-menyn synlig vid klick */
   opacity: 1;
   visibility: visible;
   /* Gör sub-menyn synlig vid klick */
 }


 .smallNav svg {
   cursor: pointer;
   color: #85253E;
   transition: all .3s cubic-bezier(.165, .84, .44, 1);
   transform: rotate(0);
 }

 .smallNav svg line,
 .smallNav svg circle {
   fill: none;
   stroke: currentColor;
   stroke-width: 3px;
   stroke-linecap: round;
 }

 .smallNav svg line {
   transform-origin: 50%;
   transition: transform .25s ease-in-out;
   transform: rotate(0);
 }

 .smallNav svg circle {
  stroke-dasharray: 144.5;
  stroke-dashoffset: 144.5;
   transition: stroke-dashoffset .3s linear .1s;
 }

 .nav--open svg {
   color: #65172c;
   transform: rotate(180deg);
   position: fixed;
   right: 25px;
 }

 .nav--open svg circle {
   stroke-dashoffset: 0;
 }

 .nav--open svg line:first-child,
 .nav--open svg line:nth-child(4) {
   opacity: 0;
 }

 .nav--open svg line:nth-child(2) {
   transform: rotate(45deg)translate(0);
 }

 .nav--open svg line:nth-child(3) {
   transform: rotate(-45deg)translate(0, -7px);
 }

 .nav--open .menu-top-menu-container {
   opacity: 1;
   transition: all .3s ease-in-out;
   right: 0px;
   overflow: hidden;
   display: flex !important;
 }

 .nav--open ul li {
   opacity: 1;
   transform: translateY(0);
 }

 @media screen and (width <=1150px) {
   .menu .largeNav ul {
     display: none !important;
   }

   .menu .smallNav {
     opacity: 1;
     z-index: 9999;
     display: block;
   }
 }

 @media screen and (width <=480px) {
   .logo {
     width: 100%;
     min-width: 50px;
     max-width: 100px;
   }
 }

 @media screen and (width <=380px) {
   .smallNav a.nav__toggle {
     right: 10px;
   }

   .smallNav ul {
     width: 200px;
   }

   .smallNav svg {
     max-width: 40px;
   }

   .smallNav:target ul,
   .nav--open ul {
     right: -65px;
   }
 }


 .introSection {
   display: flex;
   flex-direction: row;
   background-color: #fcf4f2;
   margin-bottom: -150px;
 }

 /* Initial styling för introText */
 .introSection .introText {
   flex-direction: column;
   justify-content: flex-start;
   position: relative;
   width: 50%;
   margin: 0 auto;
   display: flex;
   left: 5%;
   opacity: 0;
   /* Startar som osynlig */
   animation: slideInFromLeft 1s ease-out forwards;
   /* Animering som slidar in från vänster */
 }

 .introSection .introText h1 {
   margin: -10px 0 1.5rem;
 }

 .introSection .introText p {
   margin-bottom: 1.2rem;
 }

 .imageContainer {
   width: 50%;
   height: fit-content;
   position: relative;
 }

 .imgBackground {
   width: 100vw;
   line-height: 0;
   position: relative;
   display: block;
   top: -200px;
   margin-bottom: -150px;
   left: 0;
 }



 /* Animering för att slida in från vänster */
 @keyframes slideInFromLeft {
   0% {
     transform: translateX(-100%);
     /* Startar utanför skärmen till vänster */
     opacity: 0;
   }

   100% {
     transform: translateX(0);
     /* Slutar på sin normala position */
     opacity: 1;
     /* Gör elementet synligt */
   }
 }



 #blob {
   z-index: -10;
   height: 100%;
   width: 100%;
   min-width: 1110px;
   overflow: hidden;
   position: relative;
   top: 100px;
   background-color: #fcf4f2;
 }

 #blob2 {
   background-color: #fcf4f2;
   width: 100%;
   min-width: 995px;
   overflow: hidden;

 }

 .imageContainer img {
   z-index: 10;
   width: 60%;
   position: relative;
   left: 25%;
   margin-top: -70px;
   border-radius: 10% 60% 0 30%;
   opacity: 0;
   /* Startar som osynlig */
   animation: zoomIn 1.5s ease-out 1s forwards;
   /* Animerar zoom-effekten */
 }

 .imageContainer::before,
 .imageContainer::after {
   content: "";
   position: absolute;
   width: 60%;
   max-height: 650px;
   height: 115%;
   border-radius: 10% 60% 0 30%;
   /* Samma form som bilden */
   opacity: 0;
   z-index: 9;
   /* Bakom bilden */
   margin-left: 25%;
   margin-top: -70px;
 }

 .imageContainer::before {
   transform: rotate(0deg);
   background-color: #8b3f6e;
   animation: rotateBefore 1.5s ease-out 1.6s forwards;
   /* Animerar zoom-effekten */

 }

 .imageContainer:after {
   transform: translateX(-100%) rotate(0deg);
   background-color: #ff9a8b;
   animation: rotateAfter 1.5s ease-out 1.6s forwards;
   /* Animerar zoom-effekten */

 }

 /* Animering för zoom-effekten */
 @keyframes zoomIn {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
     /* Gör det synligt */
   }
 }

 /* Animering för zoom-effekten */
 @keyframes rotateBefore {
   0% {
     transform: rotate(0deg);
     opacity: 0;
   }

   100% {
     transform: rotate(-15deg);
     opacity: 0.6;
   }
 }

 @keyframes rotateAfter {
   0% {
     transform: translateX(-100%) rotate(0deg);
     opacity: 0;
   }

   100% {
     transform: translateX(-100%) rotate(-30deg);
     opacity: 0.6;
   }
 }

 @media screen and (max-width: 1350px) {
   .introSection {
     margin-bottom: -50px;
   }

   .introSection .imageContainer .emmafarg {
     margin-top: -10px;
   }

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     margin-top: -10px;
   }
 }

 @media screen and (max-width: 1120px) {

   .imgBackground {
     margin-bottom: -50px;
   }

 }

 @media screen and (max-width: 1150px) {
   .introSection {
     flex-direction: column;
   }

   .introSection {
     margin-bottom: 0px;
   }

   .introSection .imageContainer {
     max-width: 1000px;
     width: 100%;
   }

   .introSection .introText {
     left: 10px;
     margin-right: 40px;
     width: 90%;
   }

   .introSection .imageContainer .emmafarg {
     margin-top: 80px;
   }

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     margin-top: 80px;
     max-height: 600px;
     height: 100%;
   }
 }

 @media screen and (max-width: 975px) {

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     max-height: 500px;
   }
 }

 @media screen and (max-width: 815px) {

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     max-height: 400px;
   }

   #blob {
    margin-bottom: -70px;
   }
 }

 @media screen and (max-width: 650px) {

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     max-height: 450px;
     width: 80%;
     margin-left: 10%;
   }

   .introSection .imageContainer .emmafarg {
     width: 80%;
     left: 10%;
   }
 }

 @media screen and (max-width: 525px) {

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     max-height: 350px;
   }
 }

 @media screen and (max-width: 425px) {

   .introSection .imageContainer::before,
   .introSection .imageContainer::after {
     max-height: 300px;
   }
 }



 .curved.upper {
   margin-top: 70px;
 }

 .accentSection {
   background-color: #fcf4f2;
   width: 100%;
   z-index: 10;
 }

 .accentContent {
   display: flex;
   max-width: 1700px;
   flex-direction: row;
   gap: 150px;
   justify-self: center;
   padding: 0 30px;
 }

 .accentContent {
   opacity: 0;
   transform: scale(0.7);
   transition: opacity 1s ease-out, transform 1s ease-out;
 }

 .accentContent.visible {
   opacity: 1;
   transform: scale(1);
 }

 .accentImg {
   order: -1;
   margin-top: 4rem;
 }

 .accentImg::before,
 .accentImg::after {
   content: "";
   position: absolute;
   width: 500px;
   height: 500px;
   border-radius: 60% 10% 30% 0%;
   /* Samma form som bilden */
   opacity: 0.5;
   z-index: 1;
   /* Bakom bilden */
   margin-left: 10%;
 }

 .accentImg::before {
   transform: translateX(-30%) rotate(15deg);
   background-color: #8b3f6e;
 }

 .accentImg::after {
   transform: translateX(-130%) rotate(30deg);
   background-color: #ff9a8b;
 }

 .accentImg img {
   position: relative;
   max-width: 500px;
   height: auto;
   border-radius: 60% 10% 30% 0%;
   z-index: 80;
   opacity: 1;
   /* Startar som osynlig */

 }

 .about h1 {
   margin: 0 auto 3rem;
   max-width: 1000px;
 }

 .aboutGrid h3 {
   margin-bottom: 1rem;
 }

 .aboutIntro {
   display: flex;
   flex-direction: column;
   max-width: 1000px;
   width: 100%;
   justify-self: center;
 }

 .gridSection {
   width: 100%;
   background-color: #0099ff;
 }

 .about {
   width: 100%;
 }

 .aboutbg {
   max-width: 3000px;
   width: 100%;
   background-color: #f5e8de;
 }


 .aboutGrid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   /* Skapar 3 kolumner */
   gap: 10rem 1rem;
   /* Sätter ett mellanrum mellan grid-items */
   justify-items: center;
   /* Centrerar innehållet i varje cell */
   align-items: start;
   max-width: 1350px;
   justify-self: center;
   margin-top: -100px;
   padding: 50px 25px 0;
 }

 .about h1 {
   padding: 0 25px;
 }


 .about1 {
   max-width: 1000px;
   width: 100%;
   margin: 0 auto -100px;
   display: block;
   position: relative;
   z-index: 10;
   padding: 0 25px;
 }


 .about2 {
   grid-column: 1 / 3;
   grid-row: 2 / 3;
 }

 .aboutImg {
   grid-column: 3 / 5;
   grid-row: 2 / 3;
 }


 .aboutImg figure img {
   width: 650px;
   /* Sätt bredden till 400px */
   height: 650px;
   /* Sätt höjden till 200px */
   object-fit: cover;
   /* Beskär bilden så att den täcker hela området utan att förvrängas */
   border-radius: 25px;
 }



 .visionImg {
   grid-column: 1 / 3;
   grid-row: 3 / 4;
 }

 .visionImg figure img {
   width: 650px;
   /* Sätt bredden till 400px */
   /* Sätt höjden till 200px */
   height: 350px;
   object-fit: cover;
   /* Beskär bilden så att den täcker hela området utan att förvrängas */
   border-radius: 25px;
 }

 .about3 {
   grid-column: 3 / 5;
   grid-row: 3 / 4;
 }

 .about4 {
   grid-column: 1 / 5;
   grid-row: 4 / 5;
   margin-top: 100px;
 }

 .about4-services {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   /* Skapar 3 kolumner */
   gap: 1.5rem;
   margin-top: 50px;
 }

 .about5 {
   grid-column: 1 / 3;
   grid-row: 5 / 6;
 }

 @media screen and (max-width: 1000px) {

   .about2 {
     grid-column: 1 / 5;
     grid-row: 2 / 3;
   }

   .aboutImg {
     grid-column: 1 / 5;
     grid-row: 1 / 2;
     padding-top: 100px;
   }


   .aboutImg figure img,
   .visionImg figure img {
     height: 450px;
     margin-bottom: -120px;
   }

   .visionImg figure img {
     margin-top: -80px;
   }

   .visionImg {
     grid-column: 1 / 5;
     grid-row: 3 / 4;
   }


   .about3 {
     grid-column: 1 / 5;
     grid-row: 4 / 5;
   }

   .about4 {
     grid-column: 1 / 5;
     grid-row: 5 / 6;
     margin-top: 0px;
   }

   .about4-services {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     /* Skapar 3 kolumner */
     gap: 1.5rem;
     margin-top: 50px;
   }

   .about5 {
     grid-column: 1 / 5;
     grid-row: 6 / 7;
   }

 }

 @media screen and (max-width: 600px) {
   .about4-services {
     grid-template-columns: repeat(1, 1fr);
     /* Skapar 3 kolumner */
     gap: 1.5rem 0rem;
     margin-top: 0px;
   }

 }

 .accentAbout h2 {
   margin-top: 100px;
   margin-bottom: 50px;
 }

 .accentAbout p {
   margin-bottom: 40px;
 }

 .accentAbout a {
   margin-bottom: 40px;
 }

 .integratedSvg-top {
   position: relative;
   grid-column: 1 / 5;
   grid-row: 2 / 3;
   transform: scale(1.5);
   margin-top: -150px;
 }

 .integratedSvg-bottom {
   position: relative;
   grid-column: 1 / 5;
   grid-row: 7 / 8;
   transform: scale(1.5);
   margin-bottom: -150px;
 }

 @media screen and (max-width: 1330px) {
   .accentContent {
     gap: 100px;
   }

   .accentImg {
     margin-top: 7rem;
   }
 }

 @media screen and (max-width: 1150px) {

   .accentContent {
     flex-direction: column;
   }

   .accentAbout {
     margin-bottom: 50px;
   }

   .accentImg::before,
   .accentImg::after {
     display: none;
   }

   .accentAbout h2 {
     margin-top: 10px;
     margin-bottom: 30px;
   }

   .accentImg {
    margin-bottom: -50px;
   }


   .accentImg img {
     max-width: 600px;
     width: 100%;
     margin: 0 auto;
   }
 }

 @media screen and (max-width: 870px) {
   .accentSection {
     width: 100%;
   }
 }


 /*TEST AV NYHETSSLIDER*/

 .newsBg {
   width: 100%;
   background-color: #f5e8de;
   text-align: center;
 }

 .newsBg h2 {
   margin-bottom: 60px;
   margin-top: 30px;
 }

 .newsSection {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .slide-container {
   max-width: 1250px;
   width: 100%;
   padding: 40px 0;
 }

 .slide-content {
   margin: 0 40px;
   overflow: hidden;
   border-radius: 25px;

 }

 .card {
   width: 320px;
   min-height: 650px;
   border-radius: 25px;
   background-color: #fff9f9;
   margin-bottom: 50px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
 }


 .card-content {
  min-height: 490px;
  display: flex;
  flex-direction: column;
 }

 .card-content .pSmall {
  font-size: 1rem;
  margin-top: 0px;
 }

 
 .card p {
  font-size: 1.1rem;
  margin-top: auto;
}

 .card-content .button {
   margin-bottom: 1rem;
   background-color: #fff9f9;
   border: solid 2px #0a3e3e;
   color: #073030;
   padding: 0.6rem 1.2rem;
   margin-top: auto;
 }

 .card-content .button:hover {
   background-color: #0a3e3e;
   color: #fff;
 }

 .card-image,
 .card-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 14px;
 }

 .card-image {
   position: relative;
   border-radius: 0%;
   background: #faf4f2;
   padding: 0px;
   border-radius: 25px 25px 0px 0px;
 }

 .card-image img {
   max-height: 200px;
   height: 100%;
   width: 100%;
   border-radius: 25px 25px 0px 0px;
   object-fit: cover;
 }

 .name {
   font-size: 18px;
   font-weight: 500;
   color: #333;
 }

 .description {
   font-size: 14px;
   color: #707070;
   text-align: center;
 }

 .swiper-button-next,
 .swiper-button-prev {
   transform: scale(0.5);
   /* Skala upp storleken */
 }


 .swiper-button-next {
   right: 0;
 }

 .swiper-button-prev {
   left: 0;
 }

 .swiper-pagination {
   bottom: 0px !important;
 }

 .swiper-pagination-bullet {
   background-color: #A75D5D !important;
   opacity: 1;
 }

 .swiper-pagination-bullet-active {
   background-color: #A75D5D !important;
 }


 .swiper-navBtn::before,
 .swiper-navBtn::after {
   color: #85253e;
   /* Färg för ikon */
   transition: color 0.3s ease;
 }

 .swiper-navBtn:hover::before,
 .swiper-navBtn:hover::after {
   color: #A75D5D;
   /* Färg för ikon vid hover */
 }


 @media screen and (max-width: 768px) {

   .swiper-navBtn {
     display: none;
   }
 }

 @media screen and (max-width: 515px) {

   .swiper-button-next,
   .swiper-button-prev {
     transform: scale(0.3);
     /* Skala upp storleken */
   }


   .slide-content {
     margin: 0 18px;
   }

   .swiper-button-next {
     margin-right: -15px;
   }

   .swiper-button-prev {
     margin-left: -15px;
   }
 }

 /*SLUT PÅ NYHETSSLIDER*/


 .projectSection {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   display: flex;
   background-color: #fcf4f2;
   z-index: 9;
   padding: 0px 20px;
 }

 .projectSection .newsContainer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* Skapar 3 kolumner */
   gap: 1rem 1rem;
   /* Sätter ett mellanrum mellan grid-items */
   justify-items: center;
   /* Centrerar innehållet i varje cell */
   align-items: start;
   max-width: 1350px;
 }



 .projectSection .newsContainer article {
   opacity: 0;
   transform: scale(0.7);
   transition: opacity 1s ease-out, transform 1s ease-out;
 }

 .projectSection .newsContainer article.visible {
   opacity: 1;
   transform: scale(1);
 }

 .newsContainer a {
   border-radius: 30px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
 }


 .newsHeader {
  min-height: 530px;
  display: flex;
  flex-direction: column;
 }

 .newsHeader p:nth-of-type(2) {
  margin-top: auto;
 }

 .newsContainer a:hover {
   transform: translateY(-5px);
   /* Lyfter upp kortet lite */
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   /* Ger en snygg skugga */
 }

 @media screen and (max-width: 1025px) {
  .projectSection .newsContainer {
    grid-template-columns: repeat(2, 1fr);
    /* Skapar 3 kolumner */
  }

  .newsHeader {
    min-height: 390px;
   }
}

@media screen and (max-width: 700px) {
  .projectSection .newsContainer {
    grid-template-columns: repeat(1, 1fr);
    /* Skapar 3 kolumner */
  }

  .newsHeader {
    min-height: fit-content;
   }
}


 .posts {
   display: flex;
   flex-direction: row;
 }

 .projectSection h1 {
   margin: 0rem 0 4rem;
 }


 .projectSection a article,
 .news {
   background-color: #fff;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 500px;
   margin: 0px;
   box-shadow: 0 6px 64px #7090b01a;
   height: auto !important;
 }


 .projectSection a {
   text-decoration: none;
   height: auto;
 }

 .project .pSmall,
 .news .pSmall {
   line-height: 0;
 }

 .singleNews {
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 99;
   width: 100%;
   margin-bottom: 200px;
   justify-content: center;
   align-items: center;
   padding: 0 25px;
 }



 .singleNews h2 {
   margin: 0px auto;
   padding: 0px 25px;
   max-width: 1250px;
   width: 100%;
   text-transform: unset;
   font-weight: 1000;
 }



 .projectSection a article span,
 .singleNews article span {
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   display: flex;
 }

 .projectSection a article span img,
 .singleNews article span img {
   object-fit: cover;
   border-radius: 30px 0px 30px 0;
   width: 100%;
   height: 300px;
   order: -1;
 }

 .singleNews article span {
   object-fit: cover;
 }

 .singleNews article span img {
   border-radius: 20px;
 }

 .singleNews h4 {
   margin: 2rem 0 1rem;
 }

 .singleNews li {
   color: #5f5f5f;
   letter-spacing: .4px;
   font-family: Nunito, sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.5;
   margin-bottom: 1rem;
   margin-left: 45px;
 }


 .projectSection a:nth-of-type(odd) article span {
   order: -1;
 }

 .projectSection a:nth-of-type(odd) article span img,
 .project .projectImage .imgLeft {
   border-radius: 30px 30px 0px 0px;
   max-height: 200px;
   order: -1;
 }

 .projectSection a:nth-of-type(even) article span {
   order: -1;
 }

 .projectSection a:nth-of-type(even) article span img,
 .project .projectImage .imgLeft {
   border-radius: 30px 30px 0px 0px;
   max-height: 200px;
   order: -1;
 }


 .projectSection a article div,
 .singleNews article div {
   width: 100%;
   padding: 2rem;
 }

 .projectSection a article div h3,
 .singleNews article h2,
 .projectSection a article div p,
 .singleNews article div p {
   margin-bottom: 1rem;
 }


 .news .projectDescription .pSmall {
   margin-bottom: 30px;
 }

 .custom-excerpt {
   margin-bottom: 2rem;
 }



 .hidden {
   display: none;
 }

 .contactSection {
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 90%;
   padding-bottom: 200px;
   display: flex;
   background-color: #fcf4f2;
 }

 .contactSection .contactText {
   flex-direction: column;
   max-width: 50%;
   min-height: 600px;
   display: flex;
 }

 .contactSection .contactText h2,
 .contactSection .contactText h4,
 .contactSection .contactText p,
 .contactSection .contactText .socials {
   max-width: 82%;
 }

 .contactSection .contactText h2 {
   margin-top: 0;
 }

 .contactSection .contactText h4 {
   margin-top: 2rem;
 }


 .contactSection .formContainer {
   width: 50%;
   z-index: 10;
 }

 .formContainer form {
   flex-direction: column;
   max-width: 80%;
   margin-left: 12%;
   font-family: Nunito, sans-serif;
   display: flex;
 }

 form input,
 form textarea,
 form select {
   color: #333;
   border: none;
   border-radius: 8px;
   margin-bottom: 0rem;
   font-family: Nunito, sans-serif;
   font-size: 1.1em;
   background-color: #fff9f9;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 form input {
   height: 2em;
   padding: 0 10px;
   width: 100%;
 }


 form textarea {
   height: 15em;
   padding: 1rem;
   width: 100%;

 }


 label {
   font-family: Nunito, sans-serif;
   margin-bottom: .5em;
   color: #333;
   font-size: 1rem;
 }




 form input[type="submit"] {
   color: #ffffff;
   cursor: pointer;
   letter-spacing: .5px;
   background-color: #0a3e3e;
   border: none;
   height: 2.4em;
   width: 100%;
   font-family: Nunito, sans-serif;
   font-size: 1.2rem;
   font-weight: 400;
   transition: all .5s;
   border-radius: 50px;
   letter-spacing: 1.8px;
   text-transform: uppercase;
 }

 form input[type="submit"]:hover {
   background-color: #116666;
 }

 #blob3 {
   background-color: #fef4f2;
   width: 100%;
   margin-top: -120px;
   min-width: 995px;
   overflow: hidden;
 }


 @media screen and (max-width: 1315px) {
   #blob3 {
     margin-top: -50px;
   }
 }

 .custom-shape-divider-top {
   width: 100%;
   line-height: 0;
   position: relative;
   margin-top: -120px;
   left: 0;
 }

 .custom-shape-divider-top svg {
   height: 100%;
   width: 100%;
   min-width: 1110px;
   display: block;
   position: relative;
   z-index: 10;
 }


 .custom-shape-divider-bottom {
   width: 100%;
   line-height: 0;
   position: absolute;
   bottom: 0;
   left: 0;
   overflow: hidden;
   background-color: #fcf4f2;
 }

 .custom-shape-divider-bottom svg {
   width: 100%;
   display: block;
   position: relative;
   width: 100%;
   min-width: 1110px;
   overflow: hidden;
 }

 .custom-shape-divider-bottom .shape-fill {
   fill: #c37dff;
 }

 .singleNews article {
   justify-content: center;
   align-items: center;
   max-width: 1250px;
   width: 100%;
   height: fit-content;
   margin: 80px auto 0;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   border-radius: 20px;
 }

 .singleNews article div {
   width: 100%;
   height: fit-content;
 }

 @media screen and (width <=1780px) {

   .project,
   .singleNews article {
     height: 20%;
     max-height: fit-content;
   }

   .projectSection a article div,
   .singleNews article div {
     align-self: center;
   }

 }



 @media screen and (width <=920px) {

   .projectSection a article,
   .news {
     flex-direction: column;
   }

   .projectSection a article span,
   .news .projectImage {
     width: 100%;
   }

   .projectSection a:nth-of-type(even) article span {
     order: -1;
   }


   .projectSection a article span img,
   .news .projectImage img,
   .project .projectImage .imgLeft,
   .news .projectImage .imgLeft {
     border-radius: 30px 30px 0 0;
   }

   .projectSection a:nth-of-type(odd) article span img,
   .project .projectImage .imgLeft,
   .news .projectImage .imgLeft {
     border-radius: 30px 30px 0 0px;
   }

   .projectSection a article div,
   .singleNews article div {
     width: 100%;
     padding: 2rem;
   }


   .contactSection {
     flex-direction: column;
     margin-top: 50px;
     margin-bottom: 0px;
     width: 95%;
   }

   .contactSection .contactText {
     max-width: 92%;
     min-height: fit-content;
     margin-bottom: 50px;
   }

   .contactSection .contactText h2,
   .contactSection .contactText h4,
   .contactSection .contactText p,
   .contactSection .contactText .socials {
     max-width: 100%;
   }

   .contactSection .formContainer {
     width: 100%;
   }

   .contactSection form {
     margin: 0 auto;
     max-width: 90%;
   }
 }



 .flexSection {
   flex-direction: row;
   max-width: 90%;
   margin: 0px auto 100px;
   display: flex;
   z-index: 10;

 }

 .flexSection .textContainer {
   width: 70%;
   margin: auto;
 }

 .flexSection .textContainer h1 {
   margin: 0rem 0 2rem;
 }


 .flexSection .imgContainer {
   flex-direction: column;
   width: 50%;
   display: flex;
 }

 .bottomSection {
   margin-bottom: 300px;
 }

 #purpleCircle {
   z-index: 10;
   background-color: #F0997D;
   border-radius: 50%;
   justify-content: center;
   max-width: 800px;
   margin: 200px auto 0;
   padding: 2em 4px 1px;
   display: flex;
   position: relative;
 }

 #purpleCircle img {
   border-radius: 50%;
   max-width: 400px;
   height: auto;
   width: 100%;
   overflow: hidden;
 }

 @media screen and (width <=1780px) {
   #purpleCircle {
     width: 100%;
     max-width: 400px;
     padding-left: 30px;
   }
 }

 @media screen and (width <=780px) {
   .flexSection {
     flex-direction: column;
   }

   .flexSection .textContainer {
     width: 100%;
   }

   .flexSection .textContainer h1 {
     margin: 4rem 0 3rem;
   }

   .flexSection .imgContainer {
     order: -1;
     width: 100%;
   }

   #purpleCircle {
     width: 100%;
     max-width: 500px;
     margin: 200px auto 0;
     padding: 2em 4px 1px;
     position: relative;
   }

   #purpleCircle img {
     border-radius: 50%;
     width: 100%;
     overflow: hidden;
   }
 }

 .services {
   background-color: #f5e8de;
   width: 100%;
 }

 .services.servicepage {
   background-color: #fcf4f2;
   display: block;
   position: relative;
   z-index: 10;
   margin-bottom: 150px;
 }

 .services.servicepage h2 {
   margin-top: 0px;
 }

 .services h2 {
   text-align: center;
   display: block;
   width: fit-content;
   margin: 0rem auto 2.5rem;
 }

 .gridContainer {
   grid-template-columns: 1fr 1fr;
   gap: 0 2rem;
   max-width: 1250px;
   margin: 0 auto;
   display: grid;
   padding: 0 30px;
 }

 .gridContainer workExperience:nth-of-type(odd) {
   grid-area: 1 / 1 / 4 / 2;
 }

 .gridContainer workExperience:nth-of-type(even) {
   grid-area: 1 / 2 / 4 / 3;
 }


 .workExperience h2 {
   margin-bottom: 30px;
   font-size: 36px;
 }

 .workItem {
   margin: 1rem 0;
   background-color: #fff9f9;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   display: flex;
   position: relative;
   flex-direction: column;
   max-width: 1400px;
   width: 100%;
   height: fit-content;
   opacity: 0;
   /* Starta som osynlig */
   transform: translateX(-100%);
   /* Starta till vänster utanför skärmen */
   transition: transform 1s ease-out, opacity 1s ease-out;
   /* Animering */
 }

 @media screen and (max-width: 1700px) {

   .workItem,
   .educationItem {
     transform: translateX(-50%);
     /* Starta till vänster utanför skärmen */
   }
 }

 .workItem.visible,
 .educationItem.visible {
   opacity: 1;
   transform: translateX(0);
   /* Gå till sin ursprungliga position */
 }

 .workItem .projectDescription {
   width: 100%;
   padding: 2rem;
   border-radius: 10px;
   position: relative;
   min-height: 350px;
   display: flex;
   flex-direction: column;
 }

 .workItem .projectDescription h3 {
   margin-bottom: 2px;
   font-size: 26px;
 }


 .workItem .projectDescription p {
   margin-top: 20px;
   margin-bottom: 30px;
 }

 .projectDescription .button {
  display: block;
  max-width: fit-content;
  justify-self:end;
  margin-top: auto;
 }


 @media screen and (width <=1780px) {
   .workItem .projectDescription p {
     font-size: 18px;
   }
 }

 @media screen and (max-width: 495px) {
   .workItem .projectDescription {
     padding-left: 15px;
     padding-right: 15px;
   }

   .workItem .projectDescription p {
     font-size: 16px;
   }
 }

 .h1-special {
   margin: 10rem auto -2rem;
 }

 .productsFormat h2 {
   margin: 5rem auto 3rem;
 }


 @media screen and (width <=1340px) {
   .gridContainer {
     gap: 0 20px;
   }
 }

 @media screen and (width <=1090px) {
   .gridContainer {
     max-width: 90%;
     padding: 0px;
   }

   .gridContainer .workExperience:nth-of-type(1) {
     grid-area: 1 / 1 / 2 / -1;
   }

   .gridContainer .workExperience:nth-of-type(2) {
     grid-area: 2 / 1 / 3 / -1;
   }

   .gridContainer .workExperience:nth-of-type(3) {
     grid-area: 3 / 1 / 4 / -1;
   }

   .gridContainer .workExperience:nth-of-type(4) {
     grid-area: 4 / 1 / 5 / -1;
   }
 }


 .curved {
   display: block;
   width: 100%;
   min-width: 995px;
   overflow: hidden;
 }

 .curved.upper {
   margin-bottom: -10px;
   margin-top: -15px;
   background-color: #f5e8de;
 }

 .curved.under {
   background-color: #f5e8de;
 }



 .newsImg {
   object-fit: cover;
   border-radius: 20px;
   width: 100%;
   height: 300px;
 }


 .signature {
   margin-top: 50px;
 }

 .news {
   width: 100%;
 }

 footer {
   display: block;
   z-index: 1;
 }

 footer ul {
   display: flex;
   flex-direction: column;
 }

 footer ul li {
   list-style-type: none;
   margin-left: -7px;
 }

 footer ul li a {
   color: #073030;
   letter-spacing: .8px;
   font-family: Nunito, sans-serif;
   font-size: 1.1rem;
   font-weight: 500;
   line-height: 1.7;
   margin-bottom: 1rem;
   text-decoration: none;
 }

 footer ul li a:hover {
   text-decoration: underline;
 }

 footer p {
   color: #073030;
   font-size: 1rem;
 }

 footer h4 {
   color: #073030;
 }

 .copyright {
   display: block;
   position: relative;
   z-index: 999;
   color: #fcf4f2;
   font-weight: 300;
   font-size: 0.8rem;
   width: 100%;
   text-align: left;
   padding-left: 25px;
   background-color: #67254e;
   bottom: 0;
   margin: 0;
 }


 .footerContent {
   display: flex;
   position: relative;
   z-index: 999;
   justify-content: space-around;
   align-items: flex-start;
   padding: 50px;
 }

 .footerContent span {
   display: flex;
   position: relative;
   z-index: 9999;
   justify-content: space-around;
   width: 50%;
 }

 .newsLetter {
   width: 40%;
 }


 .footer-divider {
   height: 720px;
   min-width: 1425px;
   position: absolute;
   bottom: 0;
 }

 .mrm-input-group label {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   /* Justera elementen vertikalt till mitten */
 }

 .mrm-input-group .required-mark {
   margin-left: -24%;
   /* Skapa lite mellanrum mellan texten och stjärnan */
   font-weight: bold;
   /* Om du vill göra stjärnan mer framträdande */
 }

 @media screen and (max-width: 1620px) {
   .footer-divider {
     height: 720px;
   }
 }

 @media screen and (max-width: 1070px) {
   .footerContent {
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
   }

   .footer-divider {
     height: 820px;
     transform: scale(1.3);
   }

   .footerContent span {
     padding-bottom: 100px;
   }

   .newsLetter {
     width: 100%;
   }

   .mrm-input-group label {
     margin-bottom: -90px;
   }

   .footerContent span {
     justify-content: flex-start;
     width: 100%;
   }

   .infoMenu {
     margin-left: 10%;
   }
 }

 @media screen and (max-width: 490px) {
   .footerContent span {
     flex-direction: column;
   }

   .infoMenu {
     margin-left: 0px;
   }

   .footerContent span {
     padding-bottom: 30px;
   }

   .servicesMenu {
     padding-bottom: 5rem;
   }

   .footer-divider {
     height: 920px;
     transform: scale(1.4);
   }

   .mrm-input-group label {
     margin-bottom: -20px;
   }

   .footerContent {
     padding: 50px 20px;
   }

   .contactSection {
     padding-bottom: 250px;
   }

   footer ul li {
    margin-left: -15px;
   }
 }


 .service {
   display: block;
   position: relative;
   z-index: 999;
   height: fit-content;
   margin-bottom: -140px;
 }


 .service h1 {
   margin-top: 0px;
   margin-bottom: 1rem;
 }

 .service h3 {
   margin-bottom: 2rem;
 }

 .service article {
   max-width: 950px;
   width: 100%;
   padding: 0 25px 10%;
   margin: 0 auto;
 }

 .web-packages-long,
 .essential-web {
   background-color: #f5e8de;
   width: 100%;
   margin-bottom: -80px;
   padding: 0 20px 10%;
 }

 .web-packages-long {
   margin-bottom: -200px;
 }

 #accessibility .serviceDescription,
 #hours .serviceDescription,
 #optimization .serviceDescription{
  min-height: fit-content;
 }

 @media screen and (max-width: 1360px) {
   .web-packages-long {
     margin-bottom: -80px;
   }
 }

 @media screen and (max-width: 1165px) {
   .web-packages-long {
     padding: 0 20px 20%;
   }
 }


 .web-packages-long .flexContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
 }

 .essential-web .essential-content {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   background-color: #fef7f7;
   display: block;
   position: relative;
   height: fit-content;
   z-index: 999;
   padding: 50px 15px;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   opacity: 0;
   transform: translateX(-30%);
   /* Starta till vänster utanför skärmen */
   transition: transform 1s ease-out, opacity 1s ease-out;
   /* Animering */
 }

 .essential-web .essential-content.visible {
   opacity: 1;
   /* Gör den synlig */
   transform: translateX(0);
   /* Flytta den till sin ursprungliga position */
 }


 .main-package {
   display: flex;
   flex-direction: row;
 }

 .service-item h3 {
   text-align: center;
   margin: 0px auto 2rem;
 }

 .essential-content .button {
  margin: 0 auto;
 }

 .service-item .button,
 .serviceDescription .button {
   display: block;
   align-self: center;
   margin-top: auto;
 }


 .package-description {
   width: 70%;
   padding: 0 5rem 0 1rem;
 }

 .package-description p,
 .package-description strong,
 .package-description em {
   font-size: 1.1rem;
 }

 .package-include {
   width: 30%;
 }

 .accessability .package-description {
   width: 60%;
 }

 .accessability .package-include {
   width: 40%;
 }

 @media screen and (max-width: 1400px) {
   .essential-web {
     margin-bottom: 0px;
   }
 }

 @media screen and (max-width: 800px) {
   .main-package {
     flex-direction: column;
   }

   .package-description,
   .accessability .package-description {
     width: 100%;
     padding: 0 0.7rem;
   }

   .package-include,
   .accessability .package-include {
     width: 100%;
     margin-left: 18px;
   }

   .essential-web {
     padding-bottom: 80px;
   }

 }

 @media screen and (max-width: 345px) {
   .web-packages-long .flexContainer {
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   }
 }

 .web-packages-long h2,
 .essential-web h2 {
   width: 100%;
   text-align: center;
   margin-top: 0px;
 }


 .web-packages-long summary,
 .essential-web summary {
   font-size: 1.1rem;
   color: #116666;
 }

 .web-packages-long summary:hover,
 .essential-web summary:hover {
   color: #0a3e3e;
 }

 .web-packages-long details p,
 .essential-web details p {
   font-size: 1.1rem;
   max-width: 96%;
 }


 .web-packages-long .service-item {
   background-color: #fff9f9;
   display: block;
   position: relative;
   height: fit-content;
   z-index: 999;
   margin: 0px 15px 70px 15px;
   padding: 50px 15px;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   opacity: 0;
   transform: translateX(-30%);
   /* Starta till vänster utanför skärmen */
   transition: transform 1s ease-out, opacity 1s ease-out;
   /* Animering */
   height: fit-content;
 }


 .web-packages-long .service-item.visible {
   opacity: 1;
   /* Gör den synlig */
   transform: translateX(0);
   /* Flytta den till sin ursprungliga position */
 }

 .web-packages-long .service-item .yellowLink {
   margin: -30px auto -30px;
   width: 100%;
   text-align: center;
 }

 .serviceDescription {
   width: 100%;
   display: flex;
   flex-direction: column;
   min-height: 850px;
 }

 @media screen and (max-width: 660px) {
  .serviceDescription {
    min-height: fit-content;
  }
  
 }

 .serviceDescription h3 {
   text-align: center;
 }

 .serviceDescription p {
   margin-bottom: 2rem;
   font-size: 1.1rem;
 }

 .service-description strong .service-description em {
   font-size: 1.1rem;
 }

 .serviceDescription li,
 .serviceDescription strong {
   color: #5f5f5f;
   letter-spacing: .4px;
   font-family: Nunito, sans-serif;
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.5;
   margin-bottom: 0.7rem;
 }

 .serviceDescription strong {
   font-weight: 600;
 }

 .serviceDescription ul {
   margin-left: 50px;
 }


 .processBg {
   width: 100%;
   background-color: #fcf4f2;
 }

 .processSection {
   display: flex;
   flex-direction: row;
   position: relative;
   max-width: 1250px;
   width: 100%;
   z-index: 999;
   padding: 0 25px;
   margin: 0 auto;
 }

 .processSection .processText {
   width: 50%;
   margin: 40px 35px 0 5%;
 }


 .processText details {
   background-color: #fff9f9;
     /* Lyfter upp kortet lite */
  box-shadow: 0 5px 5px rgba(102, 102, 102, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin: 1rem 0;
   padding: 1rem 1rem 0;
   border-radius: 15px;
 }


 .processText details:hover {
  transform: translateY(-2px);
  /* Lyfter upp kortet lite */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* Ger en snygg skugga */
}

 .processText details[open] p {
   background-color: #fff9f9;
   font-size: 1.1rem;
 }

 .processText details[open] {
   background-color: #fff9f9;
 }

 .processText summary {
   font-size: 1.1rem;
 }

 .processSection h3 {
   margin: 2rem 0;
 }

 .processSection .processImg {
   width: 50%;
 }

 .processImg .thumbnail {
   max-width: 800px;
   width: 100%;
   max-height: 900px;
   height: 100%;
 }

 .processSection .processImg img {
   margin-top: 40px;
   border-radius: 25px;
   position: relative;
   max-width: 600px;
   width: 100%;
   max-height: 1000px;
   height: 100%;
   object-fit: cover;
   z-index: 9;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   transform: scale(0.85);
 }

 @media screen and (max-width: 905px) {
   .processSection {
     flex-direction: column;
   }

   .processSection .processText {
     width: 100%;
     margin: 0 0px;
   }

   .processSection .processImg {
     width: 100%;
   }

   .processSection .processImg img {
     max-width: 1000px;
     width: 100%;
     max-height: 400px;
     height: 100%;
     border-radius: 25px;
     transform: unset;
   }
 }



 .web-consultation {
   background-color: #f5e8de;
   width: 100%;
   padding-bottom: 100px;
   position: relative;
   z-index: 99;
 }

 #aboutForm {
   background-color: #fcf4f2;
   position: relative;
   z-index: 10;
 }

 .web-consultation .processText {
   display: flex;
   justify-content: space-around;
   padding: 0 40px 0 25px;
   max-width: 1850px;
   margin: 0 auto;
 }

 .web-consultation .wp-block-group {
   max-width: 800px;
   width: 50%;
 }

 .web-consultation .wp-block-group h2 {
   margin-bottom: 10px;
 }

 .web-consultation .wp-block-group h4 {
   margin-bottom: 2rem;
 }

 .web-consultation .wpcf7 {
   width: 35%;
   margin-bottom: 70px;
 }


 .web-consultation form {
   max-width: 1000px;
   width: 100%;
   margin-top: 60px;
   margin-bottom: -150px;
   margin-left: 25px;
 }

 @media screen and (max-width: 1435px) {
   .web-consultation .wpcf7 {
     width: 45%;
   }
 }

 @media screen and (max-width: 935px) {
   .web-consultation .wpcf7 {
     width: 100%;
     margin-bottom: 0px;
   }

   .web-consultation .processText {
     flex-direction: column;
     margin-top: 50px;
     padding: 0 50px 0 0px;
   }

   .web-consultation .wp-block-group {
     max-width: 820px;
     width: 100%;
     margin: -120px 25px 0 25px;
   }

   .web-consultation form {
     max-width: 820px;
     width: 100%;
     margin: 60px 25px -50px 25px;
   }

 }

 .other-services {
   display: block;
   position: relative;
   z-index: 999;
   padding: 0 25px;
 }

 .other-services h3,
 .other-services p {
   margin-left: 25px;
 }

 .other-services h3 {
   margin-top: -150px;
   margin-bottom: 1rem;
 }

 .other-services .workExperience {
   max-width: 1200px;
   width: 100%;
 }

 .other-services .workExperience p {
   margin-left: 0px;
 }

 @media screen and (max-width: 1530px) {
   .other-services h3 {
     margin-top: -80px;
   }
 }

 .accessability .flexContainer,
 .optimization .flexContainer {
   grid-template-columns: none;
   justify-content: center;
 }

 .accessability .service-item, .optimization .service-item {
   max-width: 1000px;
   width: 100%;
 }


 details {
   overflow: hidden;
 }

 details p {
   max-height: 0;
   opacity: 0;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
 }

 details[open] p {
   max-height: 1000px;
   /* Tillräcklig höjd för att passa innehållet */
   opacity: 1;
   background-color: #fff9f9;
   padding: 20px;
   border-radius: 15px;
 }

 details[open] p {
   animation: slideUp 0.5s ease-out forwards;
 }

 @keyframes slideUp {
   from {
     opacity: 0;
     transform: translateY(20px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }

 summary {
   color: #5f5f5f;
   letter-spacing: .4px;
   font-family: Nunito, sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.5;
   margin-bottom: 1rem;
 }